/* Signup.css */
.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

.Register h1 {
  color: #333;
  margin-bottom: 20px;
}

.Register form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.Register input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.Register button {
  padding: 10px 20px;
  border: none;
  background-color: #005f73;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.Register button:hover {
  background-color: #0a9396;
}

/* エラーメッセージのスタイル */
.Register div {
  color: red;
  margin-bottom: 10px;
}
